@font-face {
  font-family: "vazir-regular";
  src: local("vazir-regular"),
    url(../assets/fonts/Vazirmatn-Regular.woff2) format("woff");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

@font-face {
  font-family: "gotham-light";
  src: local("gotham-light"),
    url(../assets/fonts/Gotham-Light.otf) format("opentype");
  /* other formats include: 'woff2', 'truetype, 'opentype',
                              'embedded-opentype', and 'svg' */
}

.vazir-regular-font {
  font-family: vazir-regular !important;
}
.gotham-Light-font {
  font-family: gotham-light !important;
}
